<%-layout('layout')%>
<% include ./sidebar %>
<div id="content">
	<div class="panel">
		<div class="header">
			<ul class="breadcrumb">
				<li><a href="/">首页</a><span class="divider">/</span></li>
				<li>登录</li>
			</ul>
		</div>
		<div class="inner">
			<% if(typeof(error) != 'undefined' && error) { %>
				<div class="alert alert-error">
					<strong><%= error %></strong>
				</div>
			<% } %>

			<% if(typeof(success) != 'undefined' && success) { %>
				<div id="alertSuccess" class="alert alert-error">
					<strong><%= success %>，<span id="lastSecond">3</span>秒后退出。</strong>
				</div>
			<% } %>
			<form action="/signin" method="post" id="signin_form" class="form-horizontal">
				<div class="control-group">
					<label for="" class="control-label">用户名</label>
					<div class="controls">
						<input type="text" name="loginname" id="loginname" class="input-xlarge">
					</div>
				</div>
				<div class="control-group">
					<label for="" class="control-label">密码</label>
					<div class="controls">
						<input type="password" name="pass" id="pass" class="input-xlarge">
					</div>
				</div>
				<div class="form-actions">
					<input id="loginButton" type="submit" class="span-primary" value="登录">
					<input type="reset" class="span-info" value="重置表单">
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	$(function() {
		if ($('#alertSuccess').length > 0) {
			var totalSecond = 3;
			var intervalId = setInterval(function() {
				totalSecond -= 1;
				if (totalSecond == 0) {
					clearInterval(intervalId);
					window.location.href = "/";
				} else {
					$('#lastSecond').text(totalSecond);
				}

			}, 1000);
		}
	})
</script>
